<h2>Repostiory Pattern Demo Index</h2>


@using (Html.BeginForm())
{
    <button name="b1" value="sqlserver">Sql Employees</button>
    <button name="b1" value="inmemory">In memory Employee</button>
    <button name="b1" value="oracle">Oracle Employee</button>
}
@ViewBag.msg