@using MvcProject01.Models
@{
    List<StudentModel> students = ViewBag.students;
}
<h2>List of Students</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>SName</th>
            <th>Course</th>
            <th>Fee</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (StudentModel s in students)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.SName</td>
                <td>@s.Course</td>
                <td>@s.Fee</td>
                <td>
                    <a asp-action="Details" asp-route-id=@s.Id>Details</a> |
                    <a asp-action="Edit" asp-route-id=@s.Id>Edit</a> |
                    <a asp-action="Delete" asp-route-id=@s.Id>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="index">Back to student index</a>