<h2>Postback Demo, Ex-02</h2>

<form action="/postback/ex02" method="post">
    Enter Name:
    <input type="text" name="t1"  /> <br/>
    <button>Say Hello</button>
</form>  <hr/>

@ViewBag.msg <br/>
Goto:
<a  asp-action="index" >Back to postback index</a>