<h1>Passing data demo, ex-02</h1>
@using MvcProject01.Models 
@{ 
    List<PersonModel> people = ViewBag.people;
}
<h2>List of People</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th> <th>Name of the Person</th> <th>Gender</th> <th>Age</th>
    </tr>
    @foreach ( PersonModel p in people)
            {
                <tr>
                    <td>@p.Id</td> <td>@p.PName</td> <td>@p.Gender</td> <td>@p.Age</td>
                </tr>  
            }
</table>


<a asp-action="index" >Back to passing data demo index</a>