<h2>Passing data form application logic to prsentation logic</h2>

Passing data form controller to view

ViewData:	This feature enable pass data to view
		These are dynamic types
To send data:
	ViewData["varname"] = value;

This will pass data in the form of object
<br />
Name: @ViewBag.name
<br />
City: @ViewBag.city
<br />

	Goto:
<a asp-controller="passingdata" asp-action="ex01">Ex01</a>|
<a asp-controller="passingdata" asp-action="ex02">Ex02</a>

